@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: #212121;
    margin-top: 5%;
    margin-left: 40%;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 40%;
    background: #12181b;
    /* align-items: center; */
}


.container-full {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 17rem;
}

.list-alarm {
    display: flex;
    width: 17rem;
    flex-direction: column;
    align-items: center;

}

.time-display {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: white;
    width: 230px;
    height: 10%;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 35px;

}


.timer {
    width: 40px;
    height: 40px;
    margin-top: 7px;
    margin-right: 10px;
}

#clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 15vh;
    color: white;

}

.alarm-heading {
    color: whitesmoke;
    margin-bottom: 20px;
    padding-top: 50px;
}

.set-alarm-field {
    display: flex;
    margin-top: -23px;
    height: 55px;
    /* background-color: yellowgreen; */
    padding-top: 18px;
    /* width: 100%; */
    margin-bottom: 23px;
    justify-content: space-evenly;
}

.controls button {
    font-weight: bold;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 15px 24px;
    margin-left: 18px;
    cursor: pointer;
}

.set-alarm {
    background-color: #498afb;
}

.clear-alarm {
    background-color: #ff3860;
}

.controls button:hover {
    background-color: #204b74;
}

#myList {
    list-style-type: none;

}

#myList li {
    font-size: 1.2rem;
    color: whitesmoke;
    background-color: #204b74;
    height: 2rem;
    margin-left: -30px;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 10px;
    width: 280px;
    margin-bottom: 10px;

}

.time-list {
    display: flex;
    flex-direction: row;
}


.time-list span {
    /* background-color: violet; */
    width: 160px;
    margin-right: 18px;

}

.time-list button {
    background-color: #5d759d;
    border-color: #5d759d;
    border-radius: 3px;
    border-width: 0px;
    height: 22px;
    color: whitesmoke;
}